@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Azure .Net Developer Course from Github Visual Studio</h1>
    
</div>
